#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Fastproc
Comment=CLI Process Manager
Exec=fastproc
Icon=utilities-terminal
Terminal=true
Type=Application
Categories=System;Monitor;
Keywords=process;task;monitor;
